@page
@model CrecheApp.Pages.CrecheModel
@{
    ViewData["Title"] = "Creche";
}
@addTagHelper*,Microsoft.AspNetCore.MvcTagHelpers

<h2>Creche Application Form</h2>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Creche</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link href="~/css/site.css" rel="stylesheet" type="text/css" />
    
</head>
<body>

  
    <form method="post">

        <div asp-validation-summary="All"></div>

        <h4>About the child:</h4>




        <div>

            <label asp-for=Creche.ChildFirstName></label>
            <input asp-for=Creche.ChildFirstName>
            <span asp-validation-for="Creche.ChildFirstName"></span>

        </div>

        <div>

            <label asp-for=Creche.ChildSurname></label>
            <input asp-for=Creche.ChildSurname>
            <span asp-validation-for="Creche.ChildSurname"></span>

        </div>

        <div>

            <label asp-for=Creche.Ppsn></label>
            <input asp-for=Creche.Ppsn>
            <span asp-validation-for="Creche.Ppsn"></span>

        </div>

        <div>

            <label asp-for=Creche.DOB></label>
            <input type="date" asp-for=Creche.DOB>
            <span asp-validation-for="Creche.DOB"></span>

        </div>

        <div class="container">

            <label asp-for=Creche.Gender></label>
            <label>
                <input asp-for="Creche.Gender" type="radio" name="optionsRadios" id="optionsRadios1" value="option1">Female
            </label>
            <label>
                <input asp-for="Creche.Gender" type="radio" name="optionsRadios" id="optionsRadios2" value="option2">Male
            </label>
                <span asp-validation-for="Creche.Gender"></span>
        </div>  


        <h4>About the parent/guardian:</h4>


        <div>

            <label asp-for=Creche.ParentFirstName></label>
            <input asp-for=Creche.ParentFirstName>
            <span asp-validation-for="Creche.ParentFirstName"></span>

        </div>

        <div>

            <label asp-for=Creche.ParentSurname></label>
            <input asp-for=Creche.ParentSurname>
            <span asp-validation-for="Creche.ParentSurname"></span>

        </div>

        <div>

            <label asp-for=Creche.Relation></label>
            <input asp-for=Creche.Relation>
            <span asp-validation-for="Creche.Relation"></span>

        </div>


        <div>

            <label asp-for=Creche.Address></label>
            <input asp-for=Creche.Address>
            <span asp-validation-for="Creche.Address"></span>

        </div>

        <div>

            <label asp-for=Creche.IrishMob></label>
            <input asp-for=Creche.IrishMob>
            <span asp-validation-for="Creche.IrishMob"></span>

        </div>

        <div>

            <label asp-for=Creche.SecContNumb></label>
            <input asp-for=Creche.SecContNumb>
            <span asp-validation-for="Creche.SecContNumb"></span>

        </div>

        <div>

            <label asp-for=Creche.OtherContNumb></label>
            <input asp-for=Creche.OtherContNumb>
            <span asp-validation-for="Creche.OtherContNumb"></span>

        </div>

        <div>

            <label asp-for=Creche.Email></label>
            <input asp-for=Creche.Email>
            <span asp-validation-for="Creche.Email"></span>

        </div>

        <div>

            <label asp-for=Creche.SecEmail></label>
            <input asp-for=Creche.SecEmail>


        </div>

        <h4>Hours Requested:</h4>
        <div class="container">
            <label asp-for=Creche.Mode></label>

            <label>
                <input asp-for="Creche.Mode" type="radio" name="optionsRadioBut" id="optionsRadioBut1" value="optionBut1">Full Time
            </label>
            <label>
                <input asp-for="Creche.Mode" type="radio" name="optionsRadioBut" id="optionsRadioBut2" value="optionBut2">Part Time
            </label>
                <span asp-validation-for="Creche.Mode"></span>
        </div>

        <h4>Days Requested:</h4>

        <div>
            <select asp-for=Day asp-items=Model.DaySelectList></select>
            <span asp-validation-for="Creche.Day"></span>
        </div>


        <h4>Starting Date Requested:</h4>


        <div>

            <label asp-for=Creche.Date></label>
            <input type="date" asp-for=Creche.Date>
            <span asp-validation-for="Creche.Date"></span>

        </div>

        <button type="submit">Submit</button>
    </form>

    
</body>
</html>